html {
  scroll-behavior: smooth;
  font-family: "Google Sans", sans-serif !important;
  font-optical-sizing: auto!important;
  font-weight: 400!important;
  font-style: normal!important;
  font-variation-settings:
    "GRAD" 0!important;
    line-height: unset!important;
}

:root {
  --clr-accent-100: #091413;
  --clr-accent-200: #285A48;
  --clr-accent-300: #408A71;
  --clr-accent-400: #B0E4CC;
  --main-duration: 100ms;
}

input {
  border: 0;
  outline: 0;

  &:focus {
    border: 0;
    outline: 0;
  }

  &:autofill {
    transition: 99999999999999999s;
  }
}
